.App {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  background-color: #222;
}
input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  padding: 10px;
}
.taskInp {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
button {
  padding: 10px;
  color: white;
  cursor: pointer;
  height: 100%;
  background-color: #63bcd5;
  outline: none;
  border: none;
}
.todos {
  color: white;
  width: 300px;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid #333;
  padding: 10px;
  flex-wrap: wrap;
}
.todo button {
  width: 100%;
  margin-top: 10px;
}
